<div class="row" id="main" ng-controller="eventsCtrl">
  <div class="col-md-6 col-md-offset-3">
    <form class="form-inline" id="form">
      <label>Enter Event Info</label>
      <input type="text" class="form-control" ng-model="newEvent.name" placeholder="Event Name">
      <input type="text" class="form-control" ng-model="newEvent.description" placeholder="Event Description">
      <button class="btn btn-success" ng-click="events.push(newEvent); newEvent='';  ">Add</button>
    </form>

    <ul>
      <li ng-repeat="event in events" >
        <span ng-click="selectMe($event)">
          <p class="title">{{ event.name }}</p> <input type="submit" value="X" class="btn btn-danger">
          <p class="description">{{ event.description }}</p> <hr>
        </span>
      </li>
    </ul>
  </div>
</div>
