#main {
  margin-top: 25px;
}

#form {
  margin-bottom: 20px;
}

.btn-danger {
  float: right;
}

.title {
  font-size: 1.3em;
  font-weight: bold;
}

.done {
  text-decoration: line-through;
}

.buttons {
  width: 100px;
}
